 @font-face {
    font-family: HelveticaNeuee;
    src: url("../fonts/helveticaneue.ttf")
}
* {
    box-sizing: border-box;
    font-family: HelveticaNeuee;
    letter-spacing: 0.5px;
    color: #252525;
}
.flex{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.html{
    font-size: 70.5%;
    line-height: 1.6rem;
    font-family: "Be Vietnam Pro", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
.shopeefoodlogo{
    height:30px;
}
.dropdown-item{
    width: unset;
}

.container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 !important;
}
.active-color{
    display: block;
    height: calc(100% - 4px);
    color: #f14d2d;
    border-bottom: 4px solid  #f14d2d !important;
    font-weight: bold;
}
.fz-14{
    font-size: 14px;
}
.t-w{
    color: #fff;
}
.absolute{
    position: absolute;
}