$primary-color: #f14d2d;
$primary-textColor: black;

header .container {
  .nav-item {
    cursor: pointer;

    a {
      color: $primary-textColor;
      font-size: 15px;
      text-decoration: none;

      &:hover {
        color: $primary-color;
        font-weight: bold;
      }
    }
  }
  .btn-search {
    cursor: pointer;
    font-size: 25px;
    font-weight: 100;
    &:hover {
      color: $primary-color;
    }
  }
  .btn-login {
    .btn {
      color: $primary-color;
      background: #fff;
      border: 1px solid $primary-color;
      box-shadow: none;
      outline: none;
      &:hover {
        box-shadow: 2px 2px 4px $primary-color;
      }
    }
  }
}

.content-container {
  background: url(/assets/img/main-banner.jpg);
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  top: 70px;
  right: -10px;
  left: 0;
  .left {
    position: fixed;
    margin-top: 60px;
    &__text {
      h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 5px;
      }
    }
    &__search {
      margin-bottom: 16px;
      width: 100%;
      position: relative;
      input[type="text"] {
        width: 80%;
        padding-right: 75px;
        padding-left: 10px;
        height: 50px;
        border: 0;
        border-radius: 6px 10px 10px 6px;
      }
      a {
        text-decoration: none;
        button {
          width: 10%;
          height: 33px;
          position: absolute;
          top: 0;
          right: 0;
          border-radius: 0 6px 6px 0;
          padding-top: 11px;
        }
      }
    }
    &__menu {
      flex-wrap: wrap;
      justify-content: flex-start !important;
      &__item {
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 6px;
        font-size: 16px;
        padding: 10px 27px;
        margin: 0 8px 14px;
        &:hover {
          background: #fff;
          color: #000;
        }
      }
    }
  }
}
